#infoPanel {
  position: absolute;
  top: 10%;
  left: 10%;
  background: rgba(122, 189, 136, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.hidden {
  display: none;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ffff;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
